/* ==============Google Font=============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
  object-fit: contain;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
button:focus {
  border: none;
  outline: none;
}
.my-btn {
  background: #e76f51 !important;
  color: #fff;
  padding: 10px 25px;
}
.section-title {
  font-size: 48px;
  font-weight: 600;
  color: #000;
  line-height: 1.5;
  text-transform: capitalize;
}
.section-title span {
  color: #e76f51;
}

.section-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #e76f51;
}

.section-text {
  font-size: 16px;
  max-width: 80%;
  margin: auto;
  color: #0000007d;
}
.margin-y {
  margin-top: 60px;
  margin-bottom: 100px;
}

.border-radius {
  border-radius: 25px;
}
/* ==========Basic Css End================ */

/* ================mediaQuere============== */
@media (max-width: 576px) {
  .margin-t {
    margin-top: 60px !important;
    margin-bottom: 0 !important;
  }

  .section-title {
    font-size: 32px;
  }

  .hero-title {
    font-size: 2.15rem !important;
  }

  .news-titel {
    font-size: 20px !important;
  }

  .news-text {
    font-size: 12px !important;
  }

  .faq-btn {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .section-text {
    max-width: 100% !important;
    text-align: justify !important;
  }

  .sub-form {
    flex-direction: column !important;
    justify-content: start !important;
  }
  .app-item {
    max-width: 70% !important;
  }
}

/* ==============Header Area================== */

.header {
  background: #264653;
  width: 100%;
}

/* ==========Hero Section============= */

.top-text {
  font-size: 0.875rem;
  font-weight: 300;
  color: #ffffff9e;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.5;
}

.hero-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #e0e0e0;
}

/* =====================Fetured Section============== */

.feture-img .grayscal {
  filter: grayscale(1);
}

.feture-img .grayscal70 {
  filter: grayscale(70%);
}

/* ================= News =============== */

.news-titel {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #18191f;
}

.news-text {
  color: #6c6c6c;
}

/* ==================== Client ============== */

.client-img img {
  width: 75%;
  margin: 0 auto;
}

.c-rating .bxs-star,
.c-rating .bxs-star-half {
  color: #e76f51;
}

.client-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #23a6f0;
}

.client-status {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #252b42;
}

/* ==================== FAQ ============== */

.faq-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #383838;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #383838;
  background-color: #fff;
}

/* ================== Video ================ */

.video-sorce {
  position: relative;
  width: 100%;
}

.video-sorce img {
  border-radius: 20px;
}

.ply-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ply-btn .bx-play-circle {
  font-size: 32px;
  font-weight: 900;
}

/* ========================== SubScribe ================ */

input[type="text"] {
  padding: 10px;
}

/* ========================== Footer ========================== */

footer {
  background: #0b0d17;
}

.footer-menu {
  padding-left: 0;
}

.footer-item {
  margin: 0 10px;
}

.footer-item:first-child {
  margin-left: 0;
}

.footer-link,
.app-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  transition: 0.5s linear;
  text-transform: capitalize;
}

.footer-link:hover {
  color: #e76f51 !important;
}

.footer-copy {
  color: #fff;
}

.app-text small {
  font-size: 10px;
  color: #fff;
}

.app-text p {
  margin: 0;
}

.app-text strong {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.app-img .bxl-apple,
.app-img .bxl-play-store {
  font-size: 40px;
  color: #fff;
  margin-right: 10px;
}

.app-img .bxl-play-store {
  color: #3bccff;
}

.app-item {
  border: 2px solid #fff;
  max-width: 50%;
  padding: 4px;
  margin-top: 20px;
}
